.profile_button {
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  padding: 10px 8px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}

.profile_button > div {
  display: flex;
  align-items: center;
}

.profile_button > div > span {
  margin: 0 4px;
}
