.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  padding: 8px 0;
}

.left_header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #777777;
  display: flex;
  align-items: center;
}
.nav > span {
  margin-right: 12px;
}
.nav > span:hover {
  cursor: pointer;
  color: #424242;
}

.right_header {
  display: flex;
  align-items: center;
}

.login_btn_laptop,
.login_btn_mobile,
.favorites_btn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  padding: 10px 8px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.login_btn_laptop,
.login_btn_mobile {
  background-color: #7b4ec3;
  border: none;
  color: white;
  margin: 0 12px 0 12px;
}
.login_btn_laptop:hover {
  background-color: #9069cd;
}

.login_btn_mobile {
  display: none;
}

.favorites_btn,
.number_of_favorites {
  color: #7b4ec3;
  background-color: #fff;
  border: solid 1px #7b4ec3;
}

.favorite_button_container {
  position: relative;
}

.number_of_favorites {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 8px;
  top: -4px;
  right: -4px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .nav > span {
    display: none;
  }
}

@media (max-width: 390px) {
  .login_btn_laptop {
    display: none;
  }

  .login_btn_mobile {
    display: flex;
  }
}
