.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  padding: 8px 0;
}

.left_header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #777777;
  display: flex;
  align-items: center;
}
.left_header > span {
  margin-right: 12px;
}
.left_header > span:hover {
  cursor: pointer;
  color: #424242;
}

.login_btn,
.addList_btn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  padding: 10px 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}

.login_btn {
  background-color: #7b4ec3;
  border: none;
  color: white;
  margin: 0 12px 0 12px;
}
.login_btn:hover {
  background-color: #9069cd;
}
.fa-magnifying-glass,
.addList_btn {
  color: #7b4ec3;
}

.addList_btn {
  background-color: #fff;
  border: solid 1px #7b4ec3;
}
