.main_container {
  /* border: solid black 2px; */
  display: flex;
  flex: 1;
}

.left_main_container {
  /* border: solid red 2px; */
  width: 50%;
  padding: 16px;
}

.top_left_main_container {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #444444;
}

.right_main_container {
  /* border: solid yellow 2px; */
  width: 50%;
}

.searchbar_input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin: 20px 0;
  outline: none;
}

.separator {
  border-bottom: solid 1px lightgrey;
}

.left_main_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  border: solid 1px lightgrey;
  width: calc(100% / 3 - 16px);
  height: 235px;
  margin-top: 8px;
  border-radius: 8px;
  position: relative;
}

.item_index {
  position: absolute;
  left: 4px;
  top: 4px;
  background-color: #fff;
  padding: 2px;
}

.item > img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.favorite_button {
  /* border: solid red 2px; */
  padding-right: 8px;
  display: flex;
  justify-content: flex-end;
}
